* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.header a {
    color: whitesmoke;
}

.main a {
    color: salmon;
}

.skillImg {
    width: 100px;
    height: auto;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.header {
    background-color: mediumaquamarine;
    height: 100vh;
    width: 300px;
    transition: 1s ease-in-out all;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.name {
    font-size: 40px;
    font-weight: 600;
}

.link {
    font-weight: 600;
    display: flex;
    width: 200px;
    justify-content: space-between;
    color: whitesmoke;

}

.link span a {
    transition: 0.3s all ease-in-out;
}

.link span a:hover {
    color: salmon;
}

.main {
    margin-top: 70px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100vh - 70px);

    width: calc(100vw - 300px);
    background-color: whitesmoke;
}

.main nav {
    color: salmon;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    top: 0px;
    padding: 0px 20vw;
    box-sizing: border-box;

    width: calc(100vw - 300px);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: whitesmoke;

}

.main nav span {
    transition: 0.2s ease-in-out all;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main nav span:hover {
    font-size: 30px;
}


.main>div {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin: 10px auto;
    /* background-color: tomato; */
}

.main>div>div span {
    color: darkgray;
}


.main>div>div {
    font-size: 24px;
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: gray;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    transition: 0.3s ease-in-out all;
}

.title:hover {
    color: salmon;
}

p {
    margin-top: 20px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid salmon;

    margin: 50px 0px 50px 0px;
}

#darkModeButton {
    position: fixed;
    bottom: 5vh;
    right: 5vw;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: salmon;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

@media (max-width : 800px) {
    body {
        flex-direction: column;
    }

    .profile {
        position: absolute;
        bottom: -150px;
        left: 50px;
        z-index: 100;
        width: 200px;
        height: 200px;
    }

    .header {
        position: relative;
        align-items: flex-end;
        padding-right: 50px;
        box-sizing: border-box;
        width: 100vw;
        height: 200px;
    }

    .header>span:first-child {
        padding-bottom: 20px;
    }

    .main {
        margin-top: 0px;
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .main nav {
        padding: 0;
        padding-left: 250px;
        padding-right: 20px;
        position: sticky;
        top: 0;
        width: 100%;
        height: 100px;
        font-size: 20px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .main div {
        width: 80%;
    }
}